:host,
.inherit-grid {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: inherit;
}

.message-detail {
    padding: 10px 15px;
}

.message-detail > * {
    padding: 5px;
}

.message-detail .label {
  font-weight: 600;
}